@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Neonderthaw&family=Nunito:ital,wght@0,300;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,500;1,400;1,600;1,700&family=Outfit:wght@100;300&family=Poppins:ital,wght@0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Supermercado+One&display=swap');


 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }

 section{
     position: relative;
     widows: 100%;
     min-height: 100vh;
     background:#222;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 section::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #ff2562;
     clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
     animation: fade-in 0.5s ease-in forwards;
     animation-delay: 1.5s;
     opacity: 0;
 }

 section .container{
    position: relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
 }

 section .container h2{
     color: #fff;
     font-size: 3rem;
     font-weight: 800;
 }

 section .container p{
     color: #fff;
     font-size: 1.2rem;
 }

 section .container a{
     position: relative;
     display: inline-block;
     padding: 15px 30px;
     margin-top: 20px;
     background-color: #ff2562;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 0.95em;
     font-weight: 700;
     letter-spacing: 2px;
     
 }

 section .imgBx{
     position: relative;
     padding-right: 100px;
 }

 section .imgBx img{
    max-width: 380px;
    animation: fade-in 0.5s ease-in forwards;
     animation-delay: 2s;
     opacity: 0;
 }


 .sci{
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: flex;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
 }

 .sci li{
     list-style: none;
 }

.sci li a{
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    margin-right: 30px;
}

.sci li a:hover{
    color: #fff;
}

.nav{
    position: absolute;
    top: 75px;
    left: 150px;
    display: flex;
    border-left: 5px solid #ff2562;
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
 }

 .nav li{
     list-style: none;
 }

.nav li a{
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a:hover,
.nav .active{
    color: #ff2562;
}




@keyframes fade-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}



@keyframes left-in {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



@media (max-width: 991px){
    section{
        flex-direction: column-reverse;
        justify-content: center;
    }

    section::before{
        clip-path: polygon( 0 0,  100% 0, 100% 10%, 0 26% );
        background-color: #0c3794;
    }

    section .container{
        padding:50px;
    }

    section .container h2{
        font-size: 1.5rem;
    }

    section .container p{
        font-size: 1rem;
    }

    section .container a{
        padding: 10px;
        font-size: 0.9rem;
        margin-bottom: 30px;
    }

    section .imgBx{
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    section .imgBx img{
        max-width: 300px;
    }

    .sci{
        left: 45px;
        bottom:30px;
    }

    .nav{
        display: none;
    }
}